.settings/
.vs/
.vscode/
obj/
/.work/
/examples/
/src/
/test/
/tools/
*.aps
*.user
.editorconfig
.eslintignore
.eslintrc.yml
.gitignore
.gitmodules
.gitattributes
.npmignore
.prettierignore
.prettierrc.yml
.travis.yml
npm-debug.log
yarn.lock
yarn-error.log
jest.config.js
jest.config.*.js
tsconfig.json
tsconfig.*.json
